---
name: Test Coverage
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  IntegrationTestCoverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: 0.10.4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Integration Test Coverage
        run: |-
          uv run pytest --junitxml=pytest.xml --cov-report=term-missing --cov=src tests/*/test_integration_*.py | tee pytest-coverage.txt
      - name: Comment coverage
        uses: coroo/pytest-coverage-commentator@v1.0.2
