---
name: Style
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/ruff-action@v3
        with:
          src: ./src
